<div class="Book-card">
    <span>
        <div class="Image-box">
            <img src=<%= @book[:image] %> alt="Book Cover" />
            <button class="View-btn">View</button>
        </div>
    </span>
    <div class="Text-box">
        <h4><%= @book[:title] %></h4>
        <%= for author <- @book[:authors] do %>
            <p><%= author %></p>
        <% end %>
    </div>
</div>
