.App {
  text-align: center;
  height: 100vh;
}

.App-Header {
  min-height: 10vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
}

.App-books {
  display: flex;
  padding-left: 25%;
  flex-wrap: wrap;
  background: #f8f8f8;
}
/* Fullscreen view */

.Home-fullscreen-background {
  background-image: url("./images/bookshelf.jpg");
  height: 70%;
  background-size: cover;
}

.Home-fullscreen-search {
  padding-top: 30vh;
}

.Home-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Home-fullscreen-search .Search-container {
  padding: 8px 10px;
  background: white;
  border-radius: 25px;
}
