<div class="Root">
    <div class="Home-fullscreen-background">
        <div class="Home-fullscreen-search">
            <%= render("search.html") %>
        </div>
    </div>
    <div class="Home-options">
        <div>
            <h2>Browse</h2>
        </div>
        <div>
            <h2>
            <a href="/create">Sell</a>
            </h2>
        </div>
    </div>
</div>
