<div class="root">
    <div class="home-fullscreen-background">
        <div class="home-fullscreen-search">
            <%= render(LibraWeb.SharedView, "search.html") %>
        </div>
    </div>
    <div class="home-options">
        <div>
            <h2>
            <a href="?mode=buy">Buy</a>
            </h2>
        </div>
        <div>
            <h2>
            <a href="?mode=sell">Sell</a>
            </h2>
        </div>
    </div>
</div>
