<div class="search-container">
    <h1>Libra</h1>
    <input
      class="search-input"
      type="text"
      id="search-input"
    />
</div>


<script>
 document.getElementById('search-input').onkeypress = function(e){
    if (!e) e = window.event;
    const keyCode = e.keyCode || e.which;
    if (keyCode == '13'){
      const query = document.getElementById('search-input').value
      window.location.href = `/search?query=${query}`
    }
  }
</script>
