<div class="navbar">
    <%= render(LibraWeb.SharedView, "search.html") %>
    <a class="navbar-brand" href="/"></a>
    <div class="navbar-info">
    <div class="navbar-item-list">
        <a class="nav-item" href="/">
        Home
        </a>
        <a class="nav-item" href="#">
        About
        </a>
    </div>
    </div>
</div>
