<div class="search-container" data-controller="search">
    <h1>Libra</h1>
    <input
      data-action="search#input"
      class="search-input"
      type="text"
      id="search-input"
    />
</div>

